{% extends "web/base.html" %}
{% load i18n static %}

{% block title %}{% translate "Choose a new password" %}{% endblock %}

{% block content %}
  <h1>{% translate "Choose a new password" %}</h1>
  {% for error in errors %}<p role="alert">{{ error }}</p>{% endfor %}
  {% if not form.hidden_fields %}
    <p>{% translate "If the reset code below is empty, copy it from the link in the message you received: it is everything after the # sign." %}</p>
  {% endif %}
  <form method="post" action="{% url 'password-reset-confirm' %}" novalidate>
    {% csrf_token %}
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    {% for field in form.visible_fields %}
      <p>
        {{ field.label_tag }}
        {{ field }}
      </p>
    {% endfor %}
    <button type="submit">{% translate "Set the password" %}</button>
  </form>
  <p><a href="{% url 'password-reset' %}">{% translate "Ask for a new message" %}</a></p>
  <script src="{% static 'web/activate.js' %}" defer></script>
{% endblock %}
